
@{
    ViewBag.Title = "管理首页";
}

<div class="panel panel-info">
    <div class="panel-body">
        <p>角色管理主要功能如下：</p>
        <ul>
            <li>角色 CRUD</li>
            <li>批量禁用、启用</li>
        </ul>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <p>用户管理主要功能如下：</p>
        <ul>
            <li>设置用户角色</li>
            <li>列表、分页、搜索</li>
            <li>批量禁用、启用</li>
        </ul>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <p>图书管理主要功能如下：</p>
        <ul>
            <li>图书 CRUD</li>
            <li>图书类别管理</li>
            <li>列表、分页、搜索</li>
            <li>批量禁用、启用</li>
        </ul>
    </div>
</div>

